body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

main {
    padding: 2em 0;
}

.about-me,
.skills,
.contact {
    margin-bottom: 30px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

p {
    line-height: 1.5;
}
